.faq{
    background-image:url(https://res.cloudinary.com/dggrpzdnl/image/upload/v1689233012/abstract-background-with-monochrome-low-poly-design_1048-14453_vmwqdc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.faq-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
  .faq-item {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .faq-answer {
    padding: 10px;
    font-size: 16px;
  }
  
  .arrow {
    margin-left: 10px;
  }