@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://res.cloudinary.com/dggrpzdnl/image/upload/v1688806354/Kitchen-Appliances_j9plgg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
  margin: -20px 0 50px;
}
